{% extends 'accounts/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Register{% endblock title %}

{% block css %}<link href="{% static 'register.css' %}" rel="stylesheet">{% endblock css %}

{% block content %}

<main class="form-signin w-100 m-auto">

    <form method="POST">
        {% csrf_token %}
      <svg alt="logo" width="72" height="57" fill="currentColor" class="bi bi-newspaper mb-4" viewBox="0 0 16 16" role="img"><title>News Checker</title>
        <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z"/>
        <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
      </svg>
      <h1 class="h3 mb-3 fw-normal">Sign Up</h1>

  
      <div class="form-floating">
        {% render_field form.email type="email" class="form-control" id="floatingInput" placeholder="Email Address" %}
        <label for="floatingInput">Email Address</label>
      </div>
      <div class="form-floating">
        {% render_field form.username type="username" class="form-control" id="floatingInput" placeholder="Username" %}
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        {% render_field form.age_range type="age_range" class="form-select" id="floatingSelect" placeholder="Age Range" %}
        <label for="floatingSelect">Age Range</label>
      </div>
      <div class="form-floating">
        {% render_field form.password1 type="password" class="form-control" id="floatingPassword" placeholder="Password" %}
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        {% render_field form.password2 type="password" class="form-control" id="floatingPassword" placeholder="Password" %}
        <label for="floatingPassword">Confirm Password</label>
      </div>
  
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">Already have an account? <a href="{% url 'accounts:login' %}">Login Here</a></p>
    </form>
  </main>
  

{% endblock content %}
