{% extends 'core/dash_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="">
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="form-floating" style="margin-bottom: 20px;">
                {% render_field form.headline type="text" class="form-control" id="floatingInputValue" placeholder="Headline" %}
                <label for="floatingInputValue">Headline</label>
            </div> 
            <div class="form-floating" style="margin-bottom: 20px;">
                {% render_field form.author type="text" class="form-control" id="floatingInputValue" placeholder="Headline" %}
                <label for="floatingInputValue">Relaiable Author/ source</label>
            </div>
            <div class="form-floating">
                {% render_field form.content class="form-control" placeholder="Paste the news content here..." id="floatingTextarea2" style="height: 200px" %}
                <label for="floatingTextarea2">Content</label>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-lg">Verify</button>
        </form>
    </div>

    <br>
   
        <div class="container">
            <h2><a href="">  Headline of Recent Posted News </a></h2>
            <br>

            {% comment %} {% for n in checked_news %}
            <h5>{{ n.headline }} <button class="btn btn-success btn-lg">True News</button></h5>
            <br>
            <p>{{ n.content }}</p>
            <!-- poster username will be here with time of posting also  -->
            {% endfor %} {% endcomment %}
          
        </div>
    </div>

</div>


{% endblock content %}