{% extends 'core/dash_base.html' %}
{% load static %}

{% block sidebar %}

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'core:dashboard' %}">
            <span data-feather="home" class="align-text-bottom"></span>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:news_list' %}">
            <span data-feather="file-text" class="align-text-bottom"></span>
            All Checked News
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:true_news_list' %}">
            <span data-feather="#" class="align-text-bottom"></span>
            All True News
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:fake_news_list' %}">
            <span data-feather="#" class="align-text-bottom"></span>
            All Fake News
          </a>
        </li>
      </ul>

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
        <span>For you</span>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'core:profile' user.username %}">
            <span data-feather="user" class="align-text-bottom"></span>
            Profile
          </a>
        </li>
      </ul>
    </div>
  </nav>

{% endblock sidebar %}



{% block content %}
<div class="container">
          <h5 class="modal-title">View News</h5>
          <hr>
        <div class="body">
          <p> <strong>{{news.headline}}</strong></p>
          {% if news.label == "True News" %}<span class="badge text-bg-success">{{ news.label }}</span>
          {% else %}<span class="badge text-bg-danger">{{ news.label }}</span>
          {% endif %}
          <p> {{news.content}}</p>
        </div>
        
  {% comment %} {% endif %} {% endcomment %} 
  </div>
{% endblock content %}