{% extends 'core/dash_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block sidebar %}

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'core:dashboard' %}">
            <span data-feather="home" class="align-text-bottom"></span>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:news_list' %}">
            <span data-feather="file-text" class="align-text-bottom"></span>
            All Checked News
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:true_news_list' %}">
            <span data-feather="#" class="align-text-bottom"></span>
            All True News
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:fake_news_list' %}">
            <span data-feather="#" class="align-text-bottom"></span>
            All Fake News
          </a>
        </li>
      </ul>

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
        <span>For you</span>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'core:profile' user.username %}">
            <span data-feather="user" class="align-text-bottom"></span>
            Profile
          </a>
        </li>
      </ul>
    </div>
  </nav>

{% endblock sidebar %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg> &nbsp; {{ user.username | title }}</h1>
</div>

<h3>News you've verified</h3>

        <div class="accordion accordion-flush" id="accordionFlushExample">
          {% for n in posts %}
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                {% if n.label == "True News" %}<span class="badge text-bg-success">{{ n.label }}</span>
                {% else %}<span class="badge text-bg-danger">{{ n.label }}</span>
                {% endif %}
                &nbsp;  &nbsp;
                {{ n.headline }}
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <span class="sm" style="font-size: 10px;">Checked on: {{n.date_added}} by {{ n.user | title }} | Author: {{ n.author }} </span>
                <br> {{ n.content  | slice:":500" }} <br>
                <span><a href="{% url 'core:delete_news' n.id %}">Delete</a></span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>


{% endblock content %}